<div header class="header header-okay-dark"></div>
<div class="page page-light">
	<div ng-click="loadURL('https://www.facebook.com/groups/OverWatchteam/')" class="icon box special-dark first-row first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-heart"></span>
		</span>
		<span class="icon-text"><a>Team Overwatch</a></span>
	</div>
	<div ng-click="loadURL('https://github.com/DuncanPriebe/mental-health-app')" class="icon box info-dark first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-cloud"></span>
		</span>
		<span class="icon-text">GitHub Link</span>
	</div>
</div>
<div footer class="footer header-special-dark"></div>