<div header class="header header-special-dark"></div>
<div class="page page-light">
	<div ng-click="loadPage('activities')" class="icon square info-light first-row first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-flash"></span>
		</span>
		<span class="icon-text">Activities</span>
	</div>
	<div ng-click="loadURL('https://medeo.ca')" class="icon square info-dark first-row">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-plus"></span>
		</span>
		<span class="icon-text">Tele-Med</span>
	</div>
	<div ng-click="loadPage('leave')" class="icon square warning-light first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-tasks"></span>
		</span>
		<span class="icon-text">View Leave</span>
	</div>
	<div ng-click="loadPage('settings')" class="icon square warning-dark">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-cog"></span>
		</span>
		<span class="icon-text">Settings</span>
	</div>
	<div ng-click="loadPage('pay')" class="icon square special-light first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-usd"></span>
		</span>
		<span class="icon-text">View Pay</span>
	</div>
	<div ng-click="loadPage('forum')" class="icon square special-dark">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-th-list"></span>
		</span>
		<span class="icon-text">Forum</span>
	</div>
	<div ng-click="loadPage('support')" class="icon square okay-light first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-earphone"></span>
		</span>
		<span class="icon-text">Peer Support</span>
	</div>
	<div ng-click="loadPage('about')" class="icon square okay-dark">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-info-sign"></span>
		</span>
		<span class="icon-text">About</span>
	</div>
	<div ng-click="loadPage('assessment')" class="icon square error-light first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-stats"></span>
		</span>
		<span class="icon-text">Assessment</span>
	</div>
	<div ng-click="loadPage('help')" class="icon square error-dark">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-warning-sign"></span>
		</span>
		<span class="icon-text">Help Me</span>
	</div>
	<div ng-click="unauthenticate()" class="icon box purple-dark first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-user"></span>
		</span>
		<span class="icon-text">Logout</span>
	</div>
</div>
