<div header class="header header-warning-light"></div>
<div class="page page-dark">
	<div class="icon box short info-dark first-row first-column unclickable">
		<span class="icon-text">Leave Balances</span>
	</div>
	<div class="icon square short info-light first-column unclickable" >
		<span class="icon-text">Annual</span>
	</div>
	<div class="icon square short info-light unclickable" >
		<span class="icon-text">175</span>
	</div>
	<div class="icon square short info-light first-column unclickable" >
		<span class="icon-text">FRL</span>
	</div>
	<div class="icon square short info-light unclickable" >
		<span class="icon-text">32</span>
	</div>
	<div class="icon square short info-light first-column unclickable" >
		<span class="icon-text">Sick</span>
	</div>
	<div class="icon square short info-light unclickable" >
		<span class="icon-text">475</span>
	</div>
	<div ng-click="loadURL('mailto:PhoenixSupport@CSC-SCC.GC.CA')" class="icon box warning-light first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-envelope"></span>
		</span>
		<span class="icon-text">Email the HRMS Service Desk</span>
	</div>
</div>
<div footer class="footer header-special-dark"></div>