<div header class="header header-purple-dark"></div>
<div class="page page-dark">
	<div class="textbox box short info-light first-column first-row">
		<span class="textbox-text">
			Please enter your login credentials below.
		</span>
	</div>
	<input type="text" placeholder="Username" ng-model="username" class="textbox square short info-light first-column">
	<input type="password" placeholder="Password" ng-model="password" class="textbox square short info-light">
	<div ng-click="authenticate('home')" class="icon box short purple-dark first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-ok-circle"></span>
		</span>
		<span class="icon-text">Login</span>
	</div>
</div>