<div header class="header header-error-light"></div>
<div class="page page-dark">
	<div class="icon box very-short info-light first-row first-column">
		<span class="icon-text">Current Attitude</span>
	</div>
	<div class="icon image-icon-square okay-light first-column">
		<img src="img/smiling-face.png">
	</div>
	<div class="icon square very-short okay-light">
		<span class="icon-text">Happy</span>
	</div>
	<div class="icon square very-short okay-light">
		<span class="icon-text">Joy</span>
	</div>
	<div class="icon square very-short okay-light">
		<span class="icon-text">Yay</span>
	</div>
	<div class="icon image-icon-square warning-light first-column">
		<img src="img/neutral-face.png">
	</div>
	<div class="icon square very-short warning-light">
		<span class="icon-text">Joy</span>
	</div>
	<div class="icon square very-short warning-light">
		<span class="icon-text">Yay</span>
	</div>
	<div class="icon square very-short warning-light">
		<span class="icon-text">Yay</span>
	</div>
	<div class="icon image-icon-square error-light first-column">
		<img src="img/sad-face.png">
	</div>
	<div class="icon square very-short error-light">
		<span class="icon-text">Joy</span>
	</div>
	<div class="icon square very-short error-light">
		<span class="icon-text">Yay</span>
	</div>
	<div class="icon square very-short error-light">
		<span class="icon-text">Yay</span>
	</div>
</div>
<div footer class="footer header-special-dark"></div>
