<div header class="header header-okay-light"></div>
<div class="page page-dark">
	<div class="icon box info-light first-row first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-stats"></span>
		</span>
		<span class="icon-text">My Dashboard</span>
	</div>
	<div class="icon box info-light first-row first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-stats"></span>
		</span>
		<span class="icon-text">Analytics</span>
	</div>
	<div class="icon box info-light first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-user"></span>
		</span>
		<span class="icon-text">CRM</span>
	</div>
	<div class="icon box info-light first-column">
		<span class="icon-text-prefix">
			<span class="glyphicon glyphicon-calendar"></span>
		</span>
		<span class="icon-text">Appointments</span>
	</div>
</div>
<div footer class="footer header-special-dark"></div>
