<div header class="header header-info-light"></div>
<div class="page page-dark">
<div class="icon box hr info-light first-row first-column"></div>
	<div ng-click="setAttitude(1); loadPage('assessment/behavior')" class="icon image-icon-square okay-light first-column">
		<img src="img/smiling-face.png">
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Good Humour</span>
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Normal Reactions</span>
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Focused</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setAttitude(2); loadPage('assessment/behavior')" class="icon image-icon-square amber-light first-column">
		<img src="img/neutral-face.png">
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Distracted</span>
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Displaced Sarcasm</span>
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Intrusive Thoughts</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setAttitude(3); loadPage('assessment/behavior')" class="icon image-icon-square warning-light first-column">
		<img src="img/sad-face.png">
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Negative Attitude</span>
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Indecisive</span>
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Withdrawn</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setAttitude(4); loadPage('assessment/behavior')" class="icon image-icon-square error-light first-column">
		<img src="img/very-sad-face.png">
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Suicidal Thoughts</span>
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Memory Loss</span>
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Can't Concentrate</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
</div>
<div footer class="footer header-error-light"></div>
