<div header class="header header-info-light"></div>
<div class="page page-dark">
	<div class="icon box hr info-light first-row first-column"></div>
	<div ng-click="setBehavior(1); loadPage('assessment/physical')" class="icon image-icon-square okay-light first-column">
		<img src="img/smiling-face.png">
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Physically Active</span>
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Coping Skills</span>
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Socially Engaged</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setBehavior(2); loadPage('assessment/physical')" class="icon image-icon-square amber-light first-column">
		<img src="img/neutral-face.png">
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Procrastination</span>
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Less Social Activity</span>
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Physically Inactive</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setBehavior(3); loadPage('assessment/physical')" class="icon image-icon-square warning-light first-column">
		<img src="img/sad-face.png">
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Avoidance</span>
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Poor Performance</span>
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Apathy</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setBehavior(4); loadPage('assessment/physical')" class="icon image-icon-square error-light first-column">
		<img src="img/very-sad-face.png">
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Isolated</span>
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Aggressive</span>
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Misconduct</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
</div>
<div footer class="footer header-error-light"></div>
