<div header class="header header-info-light"></div>
<div class="page page-dark">
	<div class="icon box hr info-light first-row first-column"></div>
	<div ng-click="setMood(1); loadPage('assessment/sleep')" class="icon image-icon-square okay-light first-column">
		<img src="img/smiling-face.png">
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Happy</span>
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Strong</span>
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Grateful</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setMood(2); loadPage('assessment/sleep')" class="icon image-icon-square amber-light first-column">
		<img src="img/neutral-face.png">
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Nervous</span>
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Guarded</span>
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Irritable</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setMood(3); loadPage('assessment/sleep')" class="icon image-icon-square warning-light first-column">
		<img src="img/sad-face.png">
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Angry</span>
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Anxious</span>
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Empty</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setMood(4); loadPage('assessment/sleep')" class="icon image-icon-square error-light first-column">
		<img src="img/very-sad-face.png">
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Numb</span>
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Panic</span>
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Hopeless</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
</div>
<div footer class="footer header-error-light"></div>
