<div header class="header header-info-light"></div>
<div class="page page-dark">
	<div class="icon box hr info-light first-row first-column"></div>
	<div ng-click="setPhysical(1); loadPage('assessment/result')" class="icon image-icon-square okay-light first-column">
		<img src="img/smiling-face.png">
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Energetic</span>
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Good Appetite</span>
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Self Control</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setPhysical(2); loadPage('assessment/result')" class="icon image-icon-square amber-light first-column">
		<img src="img/neutral-face.png">
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Lack of Energy</span>
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Headaches</span>
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Substance Use</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setPhysical(3); loadPage('assessment/result')" class="icon image-icon-square warning-light first-column">
		<img src="img/sad-face.png">
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Increased Fatigue</span>
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Unusual Appetite</span>
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Substance Abuse</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setPhysical(4); loadPage('assessment/result')" class="icon image-icon-square error-light first-column">
		<img src="img/very-sad-face.png">
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Constant Fatigue</span>
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">No Appetite</span>
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Addiction</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
</div>
<div footer class="footer header-error-light"></div>
