<div header class="header header-info-light"></div>
<div class="page page-dark">
<div class="icon box hr info-light first-row first-column"></div>
	<div ng-click="setSleep(1); loadPage('assessment/attitude')" class="icon image-icon-square okay-light first-column">
		<img src="img/smiling-face.png">
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">6+ Hours</span>
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Restful</span>
	</div>
	<div class="textbox square very-short text-okay-light unclickable">
		<span class="icon-text">Peaceful</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setSleep(2); loadPage('assessment/attitude')" class="icon image-icon-square amber-light first-column">
		<img src="img/neutral-face.png">
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">4-6 Hours</span>
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Disrupted</span>
	</div>
	<div class="textbox square very-short text-amber-light unclickable">
		<span class="icon-text">Few Nightmares</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setSleep(3); loadPage('assessment/attitude')" class="icon image-icon-square warning-light first-column">
		<img src="img/sad-face.png">
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">2-4 Hours</span>
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Restless</span>
	</div>
	<div class="textbox square very-short text-warning-light unclickable">
		<span class="icon-text">Vivid Nightmares</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
	<div ng-click="setSleep(4); loadPage('assessment/attitude')" class="icon image-icon-square error-light first-column">
		<img src="img/very-sad-face.png">
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">0-2 Hours</span>
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Can't Sleep</span>
	</div>
	<div class="textbox square very-short text-error-light unclickable">
		<span class="icon-text">Can't Relax</span>
	</div>
	<div class="icon box hr info-light first-column"></div>
</div>
<div footer class="footer header-error-light"></div>
